## Deliverable 2. Create a Customer Travel Destinations Map.

In [1]:
# Dependencies and Setup
import pandas as pd
import requests
import gmaps

# Import API key
from config import g_key

# Configure gmaps API key
gmaps.configure(api_key=g_key)

In [2]:
import os

In [3]:
# 1. Import the WeatherPy_database.csv file. 
f = open("/Users/hollyouellette/Desktop/Module_6/World_Weather_Analysis/Weather_Database/WeatherPy_Database.csv")

In [4]:
city_data_df = pd.read_csv(f)
city_data_df.head()

,City_ID,City,Country,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Current Description
0,0,Port Alfred,ZA,-33.5906,26.8910,66.99,95,98,9.89,overcast clouds
1,1,Jamestown,US,42.0970,-79.2353,15.01,73,90,14.97,light snow
2,2,College,US,64.8569,-147.8028,-9.00,76,20,2.35,few clouds
3,3,Puerto Ayora,EC,-0.7393,-90.3518,82.40,74,75,12.66,light rain
4,4,Carnarvon,AU,-24.8667,113.6333,75.20,100,40,10.36,scattered clouds

In [5]:
# 2. Prompt the user to enter minimum and maximum temperature criteria 
min_temp = float(input("What is the minimum temperature you would like for your trip? "))
max_temp = float(input("What is the maximum temperature you would like for your trip? "))

What is the minimum temperature you would like for your trip? 70
What is the maximum temperature you would like for your trip? 90

In [7]:
# 3. Filter the city_data_df DataFrame using the input statements to create a new DataFrame using the loc method.

clean_df = city_data_df.loc[(city_data_df["Max Temp"] <= max_temp) & \
                                       (city_data_df["Max Temp"] >= min_temp)]
clean_df.head(10)

,City_ID,City,Country,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Current Description
3,3,Puerto Ayora,EC,-0.7393,-90.3518,82.40,74,75,12.66,light rain
4,4,Carnarvon,AU,-24.8667,113.6333,75.20,100,40,10.36,scattered clouds
7,7,Faanui,PF,-16.4833,-151.7500,81.10,77,2,13.00,clear sky
11,11,Toamasina,MG,-18.1667,49.3833,77.00,88,40,3.44,scattered clouds
12,12,Punta Arenas,CL,-53.1500,-70.9167,73.40,21,0,14.97,clear sky
15,15,Atambua,ID,-9.1061,124.8925,74.55,89,100,2.84,overcast clouds
16,16,Portales,US,34.1862,-103.3344,72.00,6,1,17.27,clear sky
18,18,Arraial Do Cabo,BR,-22.9661,-42.0278,73.40,88,75,6.91,broken clouds
20,20,Hilo,US,19.7297,-155.0900,78.80,50,1,3.44,clear sky
25,25,Rikitea,PF,-23.1203,-134.9692,77.65,72,97,13.13,overcast clouds

In [8]:
# 4a. Determine if there are any empty rows.
clean_df.isnull().sum()

City_ID                0
City                   0
Country                1
Lat                    0
Lng                    0
Max Temp               0
Humidity               0
Cloudiness             0
Wind Speed             0
Current Description    0
dtype: int64

In [10]:
# 4b. Drop any empty rows and create a new DataFrame that doesn’t have empty rows.

clean_df = city_data_df.loc[(city_data_df["Max Temp"] <= max_temp) & \
                                       (city_data_df["Max Temp"] >= min_temp)].dropna()
clean_df.head(10)

,City_ID,City,Country,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Current Description
3,3,Puerto Ayora,EC,-0.7393,-90.3518,82.40,74,75,12.66,light rain
4,4,Carnarvon,AU,-24.8667,113.6333,75.20,100,40,10.36,scattered clouds
7,7,Faanui,PF,-16.4833,-151.7500,81.10,77,2,13.00,clear sky
11,11,Toamasina,MG,-18.1667,49.3833,77.00,88,40,3.44,scattered clouds
12,12,Punta Arenas,CL,-53.1500,-70.9167,73.40,21,0,14.97,clear sky
15,15,Atambua,ID,-9.1061,124.8925,74.55,89,100,2.84,overcast clouds
16,16,Portales,US,34.1862,-103.3344,72.00,6,1,17.27,clear sky
18,18,Arraial Do Cabo,BR,-22.9661,-42.0278,73.40,88,75,6.91,broken clouds
20,20,Hilo,US,19.7297,-155.0900,78.80,50,1,3.44,clear sky
25,25,Rikitea,PF,-23.1203,-134.9692,77.65,72,97,13.13,overcast clouds

In [22]:
# 5a. Create DataFrame called hotel_df to store hotel names along with city, country, max temp, and coordinates.
clean_hotel_df = clean_df[["City", "Country", "Max Temp", "Current Description", "Lat", "Lng"]].copy()

# 5b. Create a new column "Hotel Name"
clean_hotel_df["Hotel Name"] = ""
clean_hotel_df.head(10)

,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
3,Puerto Ayora,EC,82.40,light rain,-0.7393,-90.3518,
4,Carnarvon,AU,75.20,scattered clouds,-24.8667,113.6333,
7,Faanui,PF,81.10,clear sky,-16.4833,-151.7500,
11,Toamasina,MG,77.00,scattered clouds,-18.1667,49.3833,
12,Punta Arenas,CL,73.40,clear sky,-53.1500,-70.9167,
15,Atambua,ID,74.55,overcast clouds,-9.1061,124.8925,
16,Portales,US,72.00,clear sky,34.1862,-103.3344,
18,Arraial Do Cabo,BR,73.40,broken clouds,-22.9661,-42.0278,
20,Hilo,US,78.80,clear sky,19.7297,-155.0900,
25,Rikitea,PF,77.65,overcast clouds,-23.1203,-134.9692,

In [23]:
# 6a. Set parameters to search for hotels with 5000 meters.
params = {
    "radius": 5000,
    "type": "lodging",
    "key": g_key
}

# 6b. Iterate through the hotel DataFrame.

for index, row in clean_hotel_df.iterrows():
    
    # 6c. Get latitude and longitude from DataFrame
    lat = row["Lat"]
    lng = row["Lng"]
    
    params["location"] = f"{lat},{lng}"

    # 6d. Set up the base URL for the Google Directions API to get JSON data.
    base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"

    # 6e. Make request and retrieve the JSON data from the search. 
    hotels = requests.get(base_url, params=params).json()
    
    # 6f. Get the first hotel from the results and store the name, if a hotel isn't found skip the city.
    
    try:
        clean_hotel_df.loc[index, "Hotel Name"] = hotels["results"][0]["name"]
    except (IndexError):
        print("Hotel not found... skipping.")


# Indicate that Data Loading is complete.
print("-----------------------------")
print("Data Retrieval Complete")

Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
-----------------------------
Data Retrieval Complete

In [24]:
# 7. Drop the rows where there is no Hotel Name.
clean_hotel_df.dropna().head()

,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
3,Puerto Ayora,EC,82.4,light rain,-0.7393,-90.3518,Castillo Galapagos
4,Carnarvon,AU,75.2,scattered clouds,-24.8667,113.6333,Hospitality Carnarvon
7,Faanui,PF,81.1,clear sky,-16.4833,-151.7500,Bora-Bora Pearl Beach Resort & Spa
11,Toamasina,MG,77.0,scattered clouds,-18.1667,49.3833,Hotel H1
12,Punta Arenas,CL,73.4,clear sky,-53.1500,-70.9167,Hotel Dreams Del Estrecho

In [25]:
# 8a. Create the output File (CSV)
output_data_file = "WeatherPy_vacation.csv"

# 8b. Export the City_Data into a csv
clean_hotel_df.to_csv(output_data_file, index_label="City_ID")

In [32]:
# 9. Using the template add city name, the country code, the weather description and maximum temperature for the city.
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Current Weather</dt><dd>{Current Description}</dd>
<dt>Maximum Temperature</dt><dd>{Max Temp} °F</dd>
</dl>
"""

# 10a. Get the data from each row and add it to the formatting template and store the data in a list.
hotel_info = [info_box_template.format(**row) for index, row in clean_hotel_df.iterrows()]

# 10b. Get the latitude and longitude from each row and store in a new DataFrame.
locations = clean_hotel_df[["Lat", "Lng"]]

In [33]:
# 11a. Add a marker layer for each city to the map. 
locations = clean_hotel_df[["Lat", "Lng"]]
max_temp = clean_hotel_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
fig.add_layer(marker_layer)

# 11b. Display the figure
fig

Figure(layout=FigureLayout(height='420px'))